<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Encuestas.net</title>
    <link href="../../Content/Styles.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="~/Content/animate.css" />
    <script type="text/javascript" src="~/Scripts/sweetalert.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/datatables.css" type="text/css" media="all" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar bg-navi navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:white !important;" class="navbar-brand active" href="/Admin/Index"> <i class="fas fa-edit"></i> Encuestas </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="margin-left: 1em !important;">
                    @if (Convert.ToInt32(Session["typeUser"]) == 1)
                    {
                        <li>
                            <a style="color:white !important; background:none !important; font-size:13px !important;" data-toggle="modal" data-target="#regEmpresa" href="#">
                                Registrar empresa <i class="fas fa-plus" style="margin-left:0.5em !important; color:greenyellow !important;"></i>
                            </a>
                        </li>
                        <li>
                            <a style="color:white !important; background:none !important; font-size:13px !important;" href="/Admin/Usuarios">
                                Registrar usuario <i class="fas fa-plus" style="margin-left:0.5em !important; color:greenyellow !important;"></i>
                            </a>
                        </li>
                        <li>
                            <a style="color:white !important; background:none !important; font-size:13px !important;" href="/Admin/Reportes">
                                Reportes <span style="margin-left:0.5em !important; color:greenyellow !important;" id="repnotif"></span>
                            </a>
                        </li>
                    }
                    @if (Convert.ToInt32(Session["typeUser"]) == 2)
                    {
                        <li class="dropdown">
                            <a style="color:white !important; background:none !important; font-size:13px !important;" class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Notificaciones
                                <span id="cantnotif" style="margin-left:0.5em !important; font-size:12px !important;"></span>
                                <i class="fas fa-bell" style="color:greenyellow !important;"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <div id="notifreport" style="padding:0.5em !important;"></div>
                            </div>
                        </li>
                        <li>
                            <a href="/Admin/Detalles?empresa=@Session["keyEmpresa"]" style="color:white !important; background:none !important; font-size:13px !important;">
                                Centros <i class="fas fa-building color-primary" style="margin-left:0.5em !important; color:greenyellow !important;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" data-toggle="modal" data-target="#changePassUser" style="color:white !important; background:none !important; font-size:13px !important;">
                                Contraseña
                                <i class="fas fa-lock color-primary" style="margin-left:0.5em !important; color:greenyellow !important;"></i>
                            </a>
                        </li>
                        <li>
                            <a href="/Admin/ReportarProblema" style="color:white !important; background:none !important; font-size:13px !important;">
                                Reportar un problema
                                <i class="fas fa-bug color-primary" style="margin-left:0.5em !important; color:greenyellow !important;"></i>
                            </a>
                        </li>
                    }
                    <li>
                        <a style="color:white !important; background:none !important; font-size:13px !important;" href="/Admin/EncuestaEspecial">
                            Encuesta especial <i class="fas fa-plus" style="margin-left:0.5em !important; color:greenyellow !important;"></i>
                        </a>
                    </li>
                    @if (Convert.ToInt32(Session["typeUser"]) == 1)
                    {
                        <li>
                            <a data-toggle="modal" data-target="#changePass" href="#" style="color:white !important; background:none !important; font-size:13px !important;">
                                Contraseña <i class="fas fa-key" style="margin-left:0.5em !important; color:greenyellow !important;"></i>
                            </a>
                        </li>
                    }
                    <li>
                        <a style="color:white !important; background:none !important; font-size:13px !important;">
                            @Session["nameUser"] <i class="fas fa-user" style="margin-left:0.5em !important; color:lawngreen !important;"></i>
                        </a>
                    </li>
                    <li><a style="color:white !important; background:none !important; font-size:13px !important;" href="/Home/Logout">Salir <i class="fas fa-sign-out-alt" style="margin-left:0.5em !important; color:red !important;"></i> </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="modal fade" id="regEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b>Registrar nueva empresa</b>
                        </h5>
                        <button id="icocle" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <div class="form-group">
                                    <label>Nombre de empresa:</label>
                                    <input type="text" id="empresa" name="empresa" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btncle">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnsae">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="modal fade" id="changePass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b>Actualizar mi contraseña</b>
                        </h5>
                        <button id="icocle" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <input type="hidden" value="@Session["keyUser"]" id="keyuserpass" />
                                <div class="form-group">
                                    <label>Nueva contraseña:</label>
                                    <input type="password" id="newpassuser" name="newpassuser" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Repite la contraseña:</label>
                                    <input type="password" id="confnewpass" name="confnewpass" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnpassclose">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnpassupdate">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>

        @{
            if (Convert.ToInt32(Session["typeUser"]) == 2)
            {
                <div class="modal fade" data-backdrop="static" id="changePassUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-center" id="exampleModalLabel">
                                    <b> Cambiar contraseña</b>
                                </h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-lg-offset-3 col-lg-6">
                                        <div class="form-group">
                                            <label>Ingresa la nueva contraseña:</label>
                                            <input type="password" id="newpassuserc" name="newpassuser" class="form-control" />
                                            <input type="hidden" id="clvpassuser" value="@Session["keyUser"]" />
                                        </div>
                                        <div class="form-group">
                                            <label>Repite la nueva contraseña:</label>
                                            <input type="password" id="passconfirmc" name="passconfirm" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclepassuserc">Cerrar</button>
                                <button type="button" class="btn btn-primary" id="btnchangeuserpass">Actualizar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="~/Scripts/Admin/indexusers.js"></script>
            }
        }

        <footer class="text-left">
            <p>
                <i class="fas fa-copyright mr-05-ico ml-05-ico"></i>  @DateTime.Now.Year - Grupo Seri. Todos los derechos reservados.
                <i class="fas fa-image mr-05-ico ml-05-ico"></i> Images by <a href="https://undraw.co/"> undraw</a>.
                <i class="fas fa-flag mr-05-ico ml-05-ico"></i> Icons by <a href="https://fontawesome.com/"> FontAwesome</a>.
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="https://kit.fontawesome.com/af5b80622e.js" crossorigin="anonymous"></script>
    @{
        if (Convert.ToInt32(Session["typeUser"]) == 1)
        {
            <script type="text/javascript" src="~/Scripts/Admin/index.js"></script>
        }
    }
    <script type="text/javascript" src="~/Scripts/datatables.js"></script>
    @{
        if (Convert.ToInt32(Session["typeUser"]) != 1)
        {
            <script type="text/javascript">

                fviewnotif = (param) => {
                    $.ajax({
                        url: "../Admin/NotificaConfirm",
                        type: "POST",
                        data: { clvrep:param },
                        success: function (data) {
                            if (data.resp == "success") {
                                location.href = "/Admin/ReportarProblema#contrep";
                            } else if (data.resp == "error") {
                                location.reload();
                            }
                        }, error: function (error) {
                            console.log(error);
                        }
                    });
                }

                floadnotifreport = () => {
                    try {
                        $.ajax({
                            url: "../Admin/NotificaReportesRes",
                            type: "POST",
                            data: { clvuser: @Session["keyUser"], tipo: 'One' },
                            success: function (data) {
                                let cant = data.length;
                                if (cant > 0) {
                                    for (var i = 0; i < data.length; i++) {
                                        if (data[i].sMensaje == "success") {
                                            document.getElementById('cantnotif').textContent = cant;
                                            document.getElementById('notifreport').innerHTML += `
                                                <span>
                                                    <a href="#" onclick="fviewnotif(${data[i].iIdReporte})" style="font-size:11px;"> <i class="fas fa-check"></i> El problema con código ${data[i].sCodigoReporte} que reportaste ha sido solucionado</a>
                                                </span>
                                                <br />
                                            `;
                                        }
                                    }
                                } else {
                                    document.getElementById('cantnotif').textContent = 0;
                                    document.getElementById('notifreport').innerHTML += `
                                        <div class="text-center"> <b class="text-primary">Todo correcto</b> </div>
                                    `;
                                }
                            }, error: function (error) {
                                console.log(error);
                            }
                        });
                    } catch (error) {
                        console.error(error);
                    }
                }

            floadnotifreport();
            </script>
        }
    }
</body>
</html>
