<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Encuestas.net</title>
    <link rel="icon" type="image/png" href="~/Content/img/test-ico.png" />
    <link rel="stylesheet" href="~/Content/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/datatables/jquery.dataTables.min.css" type="text/css" media="all" />
    <link href="~/Content/stylesbuzon.css" rel="stylesheet" media="all" />
    <link rel="stylesheet" href="~/Content/animate.css" />
    <script type="text/javascript" src="~/Scripts/sweetalert.js"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-white bg-white border-bottom shadow p-3 animated fadeIn">
        <a class="navbar-brand col-title-navbar font-title-navbar font-weight-light lt-spacing-2" href="/Admin/Index"> <i class="fas fa-file-alt mr-3 ml-3 col-ico"></i> Encuestas </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-3">
                @if (Convert.ToInt32(Session["typeUser"]) == 1)
                {
                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" data-toggle="modal" data-target="#regEmpresa" href="#">
                            <i class="fas fa-plus mr-2"></i>
                            Registrar empresa
                        </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="/Admin/Usuarios">
                            <i class="fas fa-plus mr-2"></i>
                            Registrar usuario
                        </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="/Admin/Reportes">
                            <i class="fas fa-plus mr-2"></i>
                            Reportes
                        </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="/Admin/Buzon">
                            <i class="fas fa-mail-bulk mr-2"></i>
                            Buzon
                        </a>
                    </li>
                }
                @if (Convert.ToInt32(Session["typeUser"]) == 2)
                {

                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link dropdown-toggle col-title-navbar font-title-navbar font-size-navbar" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell mr-2"></i> <span id="cantnotif" class="mr-2"></span> Notificaciones
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="notifreport">

                        </div>
                    </li>

                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="/Admin/Detalles?empresa=@Session["keyEmpresa"]">
                            <i class="fas fa-building mr-2"></i>
                            Centros
                        </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="#" data-toggle="modal" data-target="#changePassUser">
                            <i class="fas fa-lock mr-2"></i>
                            Contraseña
                        </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="/Admin/ReportarProblema">
                            <i class="fas fa-bug mr-2"></i>
                            Reportar un problema
                        </a>
                    </li>
                    <li class="nav-item active mr-2">
                        <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="/Admin/BuzonEmpresa">
                            <i class="fas fa-mail-bulk mr-2"></i>
                            Buzón
                        </a>
                    </li>
                }
                <li class="nav-item active mr-2">
                    <a class="nav-link col-title-navbar font-title-navbar font-size-navbar" href="/Admin/EncuestaEspecial">
                        <i class="fas fa-plus mr-2"></i>
                        Encuesta especial
                    </a>
                </li>

                <li class="nav-item active mr-2">
                    <a class="nav-link col-title-navbar font-title-navbar font-size-navbar">
                        <i class="fas fa-user mr-2"></i>
                        @Session["nameUser"]
                    </a>
                </li>
                <li class="nav-item active mr-2">
                    <a class="nav-link col-title-navbar font-title-navbar font-size-logout" href="/Home/Logout">
                        <i class="fas fa-sign-out-alt mr-2"></i>
                        Salir
                    </a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <div class="modal fade" data-backdrop="static" id="regEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b class="text-center col-labels"> <i class="fas fa-building mr-2 col-ico"></i> Registrar nueva empresa</b>
                        </h5>
                        <button id="icocle" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="offset-2 col-lg-8">
                                <div class="form-group">
                                    <label class="col-form-label col-labels" for="empresa"> <i class="fas fa-building mr-2 col-ico"></i> Nombre de empresa:</label>
                                    <input type="text" id="empresa" name="empresa" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="btncle">
                            <i class="fas fa-times mr-2"></i> Cerrar
                        </button>
                        <button type="button" class="btn btn-sm col-btn-form1" id="btnsae"> <i class="fas fa-check-circle mr-2"></i> Aceptar </button>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="modal fade" data-backdrop="static" id="changePass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b>Actualizar mi contraseña</b>
                        </h5>
                        <button id="icocle" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-6">
                                <input type="hidden" value="@Session["keyUser"]" id="keyuserpass" />
                                <div class="form-group">
                                    <label>Nueva contraseña:</label>
                                    <input type="password" id="newpassuser" name="newpassuser" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Repite la contraseña:</label>
                                    <input type="password" id="confnewpass" name="confnewpass" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnpassclose">Cerrar</button>
                        <button type="button" class="btn btn-primary" id="btnpassupdate">Guardar cambios</button>
                    </div>
                </div>
            </div>
        </div>

        @{
            if (Convert.ToInt32(Session["typeUser"]) == 2)
            {
                <div class="modal fade" data-backdrop="static" id="changePassUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title text-center" id="exampleModalLabel">
                                    <b class="text-center col-labels"> <i class="fas fa-key mr-2"></i> Cambiar contraseña </b>
                                </h6>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="offset-2 col-lg-8">
                                        <div class="form-group">
                                            <label class="col-labels col-form-label" for="newpassuserc"> <i class="fas fa-lock mr-2 col-ico"></i> Ingresa la nueva contraseña:</label>
                                            <input type="password" id="newpassuserc" name="newpassuser" class="form-control" />
                                            <input type="hidden" id="clvpassuser" value="@Session["keyUser"]" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col-labels col-form-label" for="passconfirmc"> <i class="fas fa-lock mr-2 col-ico"></i> Repite la nueva contraseña:</label>
                                            <input type="password" id="passconfirmc" name="passconfirm" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btnclepassuserc">
                                    <i class="fas fa-times mr-2"></i> Cerrar
                                </button>
                                <button type="button" class="btn btn-sm col-btn-form1" id="btnchangeuserpass"> <i class="fas fa-check-circle mr-2"></i> Actualizar </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="~/Scripts/Admin/indexusers.js"></script>
            }
        }

        <div class="text-center">
            <footer class="col-footer p-3 animated fadeIn">
                <p>
                    <i class="fas fa-copyright mr-2 ml-2 col-ico"></i>  @DateTime.Now.Year - Grupo Seri. Todos los derechos reservados.
                    <i class="fas fa-image mr-2 ml-2 col-ico"></i> Images by <a href="https://undraw.co/"> undraw</a>.
                    <i class="fas fa-flag mr-2 ml-2 col-ico"></i> Icons by <a href="https://fontawesome.com/"> FontAwesome</a>.
                </p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Content/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/af5b80622e.js" crossorigin="anonymous"></script>
    @{
        if (Convert.ToInt32(Session["typeUser"]) == 1)
        {
            <script type="text/javascript" src="~/Scripts/Admin/index.js"></script>
        }
    }
    <script type="text/javascript" src="~/Scripts/datatables/jquery.dataTables.min.js"></script>
    @{
        if (Convert.ToInt32(Session["typeUser"]) != 1)
        {
            <script type="text/javascript">

                fviewnotif = (param) => {
                    $.ajax({
                        url: "../Admin/NotificaConfirm",
                        type: "POST",
                        data: { clvrep:param },
                        success: function (data) {
                            if (data.resp == "success") {
                                location.href = "/Admin/ReportarProblema#contrep";
                            } else if (data.resp == "error") {
                                location.reload();
                            }
                        }, error: function (error) {
                            console.log(error);
                        }
                    });
                }

                floadnotifreport = () => {
                    try {
                        $.ajax({
                            url: "../Admin/NotificaReportesRes",
                            type: "POST",
                            data: { clvuser: @Session["keyUser"], tipo: 'One' },
                            success: function (data) {
                                let cant = data.length;
                                if (cant > 0) {
                                    for (var i = 0; i < data.length; i++) {
                                        if (data[i].sMensaje == "success") {
                                            document.getElementById('cantnotif').textContent = cant;
                                            document.getElementById('notifreport').innerHTML += `
                                               <a class="dropdown-item" href="#" onclick="fviewnotif(${data[i].iIdReporte})" style="font-size:13px !important;">
                                                    <i class="fas fa-check"></i> El problema con código ${data[i].sCodigoReporte} que reportaste ha sido solucionado
                                                </a>
                                                <br/>
                                            `;
                                        }
                                    }
                                } else {
                                    document.getElementById('cantnotif').textContent = 0;
                                    document.getElementById('notifreport').innerHTML += `
                                        <a class="dropdown-item text-info" href="#" style="font-size:13px !important;">Todo correcto</a>
                                    `;
                                }
                            }, error: function (error) {
                                console.log(error);
                            }
                        });
                    } catch (error) {
                        console.error(error);
                    }
                }

            floadnotifreport();
            </script>
        }
    }
</body>
</html>
