
@{
    ViewBag.Title = "CentroTrabajo";
}

@{

    if (Session["keyUser"] != null)
    {
        if (Model.sMensaje == "success")
        {
            <style>
                /*body {
                    background-color: #FAFFEB;
                }*/
            </style>
            <div style="margin-top:2em !important; margin-bottom:8em !important;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 animated fadeIn" style="margin-top:6.7em !important;">
                            <div style="margin-bottom:2em !important;">
                                <img class="img-responsive" src="~/Content/Img/undraw_Working_oh83.svg" />
                            </div>
                            <a href="/Admin/Detalles?empresa=@Model.iIdEmpresa" class="btn btn-primary btn-block">
                                <i class="fas fa-arrow-left"></i> <span style="margin-left:1em;">Volver</span>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#regDatosEmpresa" class="btn btn-primary btn-block" style="margin-top:3em !important;" id="btnnewreg">
                                <i class="fas fa-plus"></i> <span style="margin-left:0.5em;">Nuevo registro</span>
                            </a>
                            <button class="btn btn-primary btn-block" style="margin-top:3em !important;" id="btndesc">
                                <i class="fas fa-check"></i> <span style="margin-left:0.5em !important;">Continuar</span>
                            </button>
                            <a href="#" data-toggle="modal" data-target="#info" class="btn btn-primary btn-block" style="margin-top:3em !important;" id="btninfo">
                                <i class="fas fa-info"></i> <span style="margin-left:0.5em;">Ayuda</span>
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 animated fadeInLeft delay-1s">
                            <h2><b> <i class="fas fa-building color-primary" style="margin-right:0.5em !important;"></i> Centro de trabajo @Model.sCentroTrabajo .</b></h2>
                            <hr />
                            <div class="row" id="contain_reg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">

                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <b>Ayuda</b>
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 class="text-center text-primary">
                                        <b>
                                            <i class="fas fa-info" style="margin-right:1em !important;"></i>
                                            Información importante
                                        </b>
                                    </h4>
                                    <hr />
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            Para registrar un nuevo elemento es importante que desactive el actual ya que solo puede tener una encuesta activa en el sistema, si no hace esto el sistema no procedera a registrar los datos de la nueva encuesta.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="regDatosEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <b>Registrar datos</b>
                            </h5>
                            <button id="icoclreg" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <input value="@Model.sCentroTrabajo" type="hidden" id="nomemp" />
                                <input value="@Model.iIdCentroTrabajo" type="hidden" id="clvcentro" />
                                <input value="@Model.iIdEmpresa" type="hidden" id="clvemp" />
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Numero de empleados:</label>
                                        <input type="number" id="empleados" required name="empleados" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Encuesta:</label>
                                        <input type="text" id="tipo" name="tipo" readonly class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Mes:</label>
                                        <select name="mes" id="mes" class="form-control">
                                            <option value="none" selected>Selecciona</option>
                                            <option value="Enero">Enero</option>
                                            <option value="Febrero">Febrero</option>
                                            <option value="Marzo">Marzo</option>
                                            <option value="Abril">Abril</option>
                                            <option value="Mayo">Mayo</option>
                                            <option value="Junio">Junio</option>
                                            <option value="Julio">Julio</option>
                                            <option value="Agosto">Agosto</option>
                                            <option value="Septiembre">Septiembre</option>
                                            <option value="Octubre">Octubre</option>
                                            <option value="Noviembre">Noviembre</option>
                                            <option value="Diciembre">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Aplicaciones requeridas:</label>
                                        <input type="number" id="requeridas" name="requeridas" readonly class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Codigo empresa:</label>
                                        <input type="text" id="codigo" name="codigo" readonly class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Año:</label>
                                        <select name="anio" id="anio" class="form-control">
                                            <option value="none" selected>Selecciona</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 text-center">
                                    <hr />
                                    <p>
                                        <i class="fas fa-info color-primary" style="margin-right:0.5em !important"></i>
                                        <b class="color-primary">Información importante</b>, al registrar nuevos datos asegurese de que todos los registros anteriores se encuentres inactivos, en caso contrario no se hará el registro.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclreg">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="btnsareg">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript" src="~/Scripts/Admin/registrosempresa.js"></script>

            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', () => {
                    datareg(@Model.iIdEmpresa, @Model.iIdCentroTrabajo);
                });
            </script>

        }
        else
        {
            <script type="text/javascript">
                location.href = "/Home/Logout";
            </script>
        }
    }
}