
@{
    ViewBag.Title = "DetallesRegistrosEncuesta";
}

@{
    if (Session["keyUser"] != null)
    {
        <script type="text/javascript" src="~/Scripts/charts.js"></script>

        <div class="container-fluid" id="contnone"></div>

        <div class="container-fluid mb-5 mt-5" id="contprinc">
            <div class="row">
                <div class="col-lg-4 animated fadeIn">
                    <h2 class="text-center animated fadeIn"><b> <i class="fas fa-percentage col-ico mr-2"></i> Porcentajes</b></h2>
                    <hr />
                    <div style="margin-bottom:2em !important;">
                        <img class="img-fluid" src="~/Content/Img/undraw_result_5583.svg" />
                    </div>
                    <div class="card shadow rounded">
                        <div class="text-center" style="margin-top:0 !important;">
                            <a href="/Admin/Detalles?empresa=@Model.iIdEmpresa" class="btn btn-block col-btn-form1"> <i class="fas fa-arrow-left" style="margin-right:0.5em !important;"></i> Volver </a>
                        </div>
                        <div class="text-center" style="margin-top:1em !important;" id="divpunt">
                            <b>Resultado total</b>
                            <hr />
                            <h4 id="tpunt"> <span id="txtpunt" style="margin-right:0.5em !important;"></span> <i class="fas fa-circle" id="icodef" style="margin-right:0.5em !important;"></i> <span id="puntaje"></span> </h4>
                        </div>
                        <ul class="list-group" style="margin-top: 1em !important;">
                            <li class="list-group-item d-flex justify-content-between align-items-center"> 
                                <span><i class="fas fa-industry col-ico" style="margin-right:0.5em !important;"></i> Empresa:</span>
                                 <b><span id="emp"></span></b> 
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"> 
                                <span><i class="fas fa-building col-ico" style="margin-right:0.5em !important;"></i> Centro:</span><b><span id="cen"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"> 
                                <span><i class="fas fa-users col-ico" style="margin-right:0.5em !important;"></i> Empleados:</span> 
                                <b><span id="emple"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><i class="fas fa-file col-ico" style="margin-right:0.5em !important;"></i> Requeridas:</span>
                                <b><span id="req"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"> 
                                <span><i class="fas fa-stopwatch col-ico" style="margin-right:0.5em !important;"></i> Restantes:</span>
                                <b><span id="rest"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><i class="fas fa-check col-ico" style="margin-right:0.5em !important;"></i> Contestadas:</span>
                                <b><span id="cont"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span><i class="fas fa-certificate col-ico" style="margin-right:0.5em !important;"></i> Tipo:</span>
                                <b><span id="tipo"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"> <span><i class="fas fa-calendar col-ico" style="margin-right:0.5em !important;"></i> Año:</span> <b><span id="anio"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"> <span><i class="fas fa-calendar-day col-ico" style="margin-right:0.5em !important;"></i> Mes:</span> <b><span id="mes"></span></b> </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center"> <span><i class="fas fa-file-code col-ico" style="margin-right:0.5em !important;"></i></span> <b><span id="code"></span></b> </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8 animated fadeInLeft delay-1s">
                    <div class="text-center">
                        <h2 class="animated fadeIn">
                            <b> <i class="fas fa-chart-pie col-ico mr-2"></i> Por dominio y categoría</b>
                        </h2>
                    </div>
                    <hr />
                    <script type="text/javascript" src="~/Scripts/Admin/DatosEmpresa.js"></script>
                    <script type="text/javascript">
                        document.addEventListener('DOMContentLoaded', () => {
                            dataemp(@Model.iIdRegistro);
                        });
                    </script>
                    @{
                        if (Model.sTipoEncuesta == "E1")
                        {
                            <div class="text-right">
                                <button class="btn btn-sm col-btn-form1" id="printchart">
                                    <i class="fas fa-print mr-2"></i> Imprimir
                                </button>
                            </div>
                            <div id="divchart">
                                <div class="animated fadeInUp" id="piechart" style="width: 800px; height: 500px;"></div>
                                <h4> <i class="fas fa-splotch col-ico" style="margin-right:0.5em !important;"></i> Resultado por categoría:</h4>
                                <ul class="list-group card shadow" style="margin-top:1em !important;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Ambiente de trabajo</span>
                                        <span class="badge badge-primary" id="rescat"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Factores propios de la actividad</span>
                                        <span class="badge badge-primary" id="rescat2"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Organización del tiempo de trabajo</span>
                                        <span class="badge badge-primary" id="rescat3"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Liderazgo y relaciones en el trabajo</span>
                                        <span class="badge badge-primary" id="rescat4"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Entorno organizacional</span>
                                        <span class="badge badge-primary" id="rescat5"></span>
                                    </li>
                                </ul>
                                <div id="piechart2" style="width: 800px; height: 500px;"></div>
                                <h4> <i class="fas fa-splotch col-ico" style="margin-right:0.5em !important;"></i> Resultado por dominio:</h4>
                                <ul class="list-group card shadow" style="margin-top:1em !important;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Condiciones en el trabajo ambiente de trabajo</span>
                                        <span class="badge badge-primary" id="resdom1"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Carga de trabajo</span>
                                        <span class="badge badge-primary" id="resdom2"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Falta de control sobre el trabajo</span>
                                        <span class="badge badge-primary" id="resdom3"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Jornada de trabajo</span>
                                        <span class="badge badge-primary" id="resdom4"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Interferencia en la relación trabajo-familia</span>
                                        <span class="badge badge-primary" id="resdom5"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Liderazgo</span>
                                        <span class="badge badge-primary" id="resdom6"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Relaciones en el trabajo</span>
                                        <span class="badge badge-primary" id="resdom7"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Violencia</span>
                                        <span class="badge badge-primary" id="resdom8"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Reconocimiento del desempeño</span>
                                        <span class="badge badge-primary" id="resdom9"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Insuficiente sentido de pertenencia e inestabilidad</span>
                                        <span class="badge badge-primary" id="resdom10"></span>
                                    </li>
                                </ul>
                            </div>

                            <script type="text/javascript" src="~/Scripts/Admin/graficatest1.js"></script>
                            <script type="text/javascript">
                                document.addEventListener('DOMContentLoaded', () => {
                                    datachartgen(@Model.iIdRegistro, '@Model.sTipoEncuesta');
                                    datachart(@Model.iIdRegistro);
                                });
                            </script>

                        }
                        else if (Model.sTipoEncuesta == "E2")
                        {
                            <div class="text-right">
                                <button class="btn btn-sm col-btn-form1" id="printchart">
                                    <i class="fas fa-print mr-2"></i> Imprimir
                                </button>
                            </div>
                            <div class="divchart">
                                <div id="chart1div">
                                    <div class="animated fadeInUp" id="piechart" style="width: 800px; height: 500px;"></div>
                                    <h4 id="tit1"> <i class="fas fa-splotch col-ico mr-2"></i> Resultado por categoría:</h4>
                                    <ul class="list-group card" id="listg" style="margin-top:1em !important;">
                                        <li class="list-group-item d-flex justify-content-between align-items-center" id="li1">
                                            <span>Ambiente de trabajo</span>
                                            <span class="badge badge-primary" id="rescat"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>Factores propios de la actividad</span>
                                            <span class="badge badge-primary" id="rescat2"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>Organización del tiempo de trabajo</span>
                                            <span class="badge badge-primary" id="rescat3"></span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <span>Liderazgo y relaciones en el trabajo</span>
                                            <span class="badge badge-primary" id="rescat4"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div id="piechart2" style="width: 800px; height: 500px;"></div>
                                <h4> <i class="fas fa-splotch col-ico mr-2"></i> Resultado por dominio:</h4>
                                <ul class="list-group card" style="margin-top:1em !important;">
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Condiciones en el trabajo ambiente de trabajo</span>
                                        <span class="badge badge-primary" id="resdom1"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Carga de trabajo</span>
                                        <span class="badge badge-primary" id="resdom2"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Falta de control sobre el trabajo</span>
                                        <span class="badge badge-primary" id="resdom3"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Jornada de trabajo</span>
                                        <span class="badge badge-primary" id="resdom4"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Interferencia en la relación trabajo-familia</span>
                                        <span class="badge badge-primary" id="resdom5"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Liderazgo</span>
                                        <span class="badge badge-primary" id="resdom6"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Relaciones en el trabajo</span>
                                        <span class="badge badge-primary" id="resdom7"></span>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>Violencia</span>
                                        <span class="badge badge-primary" id="resdom8"></span>
                                    </li>
                                </ul>
                                <hr />
                            </div>

                            <script type="text/javascript" src="~/Scripts/Admin/graficatest2.js"></script>
                            <script type="text/javascript">
                                document.addEventListener('DOMContentLoaded', () => {
                                    datachartgen(@Model.iIdRegistro, '@Model.sTipoEncuesta');
                                    datachart(@Model.iIdRegistro);
                                });
                            </script>


                        }
                        else
                        {
                            <script type="text/javascript">
                                location.href = "/Home/Logout";
                            </script>
                        }
                    }

                </div>
            </div>
        </div>
    }
    else
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                location.href = "/Home/Index";
            });
        </script>
    }
}