
@{
    ViewBag.Title = "Detalles";
}

@{

    if (Session["keyUser"] != null)
    {
        if (Model.sMensaje == "success")
        {
            <style>
                /*body {
                    background-color: #FAFFEB;
                }*/
            </style>
            <div style="margin-top:3em !important; margin-bottom:12em !important;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 animated fadeIn" style="margin-top:6.7em !important;">
                            <div style="margin-bottom:2em !important;">
                                <img class="img-responsive" src="~/Content/Img/undraw_team_work_k80m.svg" />
                            </div>
                            <a href="/Admin/Index" class="btn btn-primary btn-block">
                                <i class="fas fa-arrow-left"></i> <span style="margin-left:1em;">Volver</span>
                            </a>
                            <a href="#" data-toggle="modal" data-target="#regCentro" class="btn btn-primary btn-block" style="margin-top:3em !important;" id="btnnewregcentro">
                                <i class="fas fa-plus"></i> <span style="margin-left:0.5em;">Nuevo centro</span>
                            </a>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-12 animated fadeInLeft delay-1s">
                            <h2><b> <i class="fas fa-industry color-primary" style="margin-right:0.5em !important;"></i> Centros de trabajo de: @Model.sNombre </b></h2>
                            <hr />
                            <div class="row" id="containcentros"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="regCentro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <b>Registrar centro de trabajo</b>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <input value="@Model.sNombre" type="hidden" id="nomempcentro" />
                                <input value="@Model.iIdEmpresa" type="hidden" id="clvempcentro" />
                                <div class="col-lg-10 col-lg-offset-2">
                                    <div class="form-group">
                                        <label>Centro de trabajo:</label>
                                        <input type="text" id="centrotra" required name="centrotra" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ubicación:</label>
                                        <input type="text" id="ubicacion" name="ubicacion" required class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnclcentro">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="btnregcentro">Guardar cambios</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" data-backdrop="static" id="editcentro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="exampleModalLabel">
                                <b> Editar registro <span id="nomcent"></span> </b>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-offset-3 col-lg-6">
                                    <input type="hidden" id="clvempdat" value="@Model.iIdEmpresa" />
                                    <input type="hidden" id="clvcentro" />
                                    <div class="form-group">
                                        <label>Nombre del centro: </label>
                                        <input type="text" id="centro_nom" class="form-control" />
                                        <input type="hidden" id="centron_org" />
                                    </div>
                                    <div class="form-group">
                                        <label>Ubicación: </label>
                                        <input type="text" id="ubicacion_nom" class="form-control" />
                                        <input type="hidden" id="ubicacionc_org" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btncloseeditcen">Cerrar</button>
                            <button type="button" class="btn btn-primary" id="btnsaveeditcent">Actualizar</button>
                        </div>
                    </div>
                </div>
            </div>

            @*<script type="text/javascript" src="~/Scripts/Admin/registrosempresa.js"></script>

                <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', () => {
                    datareg(@Model.iIdEmpresa);
                });
                </script>*@

            <script type="text/javascript" src="~/Scripts/Admin/registrocentros.js"></script>
            <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', () => {
                    datareg(@Model.iIdEmpresa);
                });
            </script>
        }
        else
        {
            <script type="text/javascript">
                location.href = "/Home/Logout";
            </script>
        }
    }
    else
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                location.href = "/Home/Index";
            });
        </script>
    }
}

