
@{
    ViewBag.Title = "EncuestaEspecial";
}

@{

    if (Session["keyUser"] != null)
    {
        <script type="text/javascript" src="~/Scripts/charts.js"></script>

        <div>
            <div class="container-fluid mt-5 mb-5">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-10 animated fadeIn" style="margin-top:6.7em !important;">
                        <div style="margin-bottom:2em !important;">
                            <img class="img-fluid" src="~/Content/Img/undraw_reading_list_4boi.svg" />
                        </div>
                        <a href="/Admin/Index" class="btn btn-block col-btn-form1">
                            <i class="fas fa-arrow-left"></i> <span class="ml-2">Volver</span>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#regDatosEmpresa" class="btn btn-block col-btn-form1 mt-4" id="btnnewreg">
                            <i class="fas fa-plus"></i> <span class="ml-2">Nuevo registro</span>
                        </a>
                        <button type="button" class="btn btn-block col-btn-form1 mt-4" id="btnprint">
                            <i class="fas fa-print"></i> <span class="ml-2">Imprimir</span>
                        </button>
                        <a href="#" data-toggle="modal" data-target="#info" class="btn btn-block col-btn-form1 mt-4" id="btninfo">
                            <i class="fas fa-info"></i> <span class="ml-2">Ayuda</span>
                        </a>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 animated fadeInLeft delay-1s" id="divtabla">
                        <h2><b> <i class="fas fa-edit col-ico mr-2"></i> Encuestas especiales.</b></h2>
                        <hr />
                        <div class="row" style="padding:20px; margin-bottom:5em !important; margin-top:1em !important;">
                            <div class="text-center" style="margin-left:6em !important;">
                                <div id="piechart" style="width: 800px; height: 500px; padding:3px !important;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="height:2px;" />
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-center" style="margin-bottom:3em;">Tabla de registros</h3>
                        <div class="table">
                            <table id="tablaus" class="display" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Nombre <i title="Presiona este icono para ordenar alfabeticamente" class="fas fa-sort" style="margin-left:0.5em !important;"></i></th>
                                        <th>Centro <i title="Presiona este icono para ordenar alfabeticamente" class="fas fa-sort" style="margin-left:0.5em !important;"></i></th>
                                        @*<th>Puesto <i title="Presiona este icono para ordenar alfabeticamente" class="fas fa-sort" style="margin-left:0.5em !important;"></i></th>*@
                                        <th>Código <i title="Presiona este icono para ordenar alfabeticamente" class="fas fa-sort" style="margin-left:0.5em !important;"></i></th>
                                        <th>Estado <i title="Presiona este icono para ordenar alfabeticamente" class="fas fa-sort" style="margin-left:0.5em !important;"></i></th>
                                        <th>Diagnostico <i title="Presiona este icono para ordenar alfabeticamente" class="fas fa-sort" style="margin-left:0.5em !important;"></i></th>
                                        <th>Opciones <i title="Presiona este icono para ordenar alfabeticamente" class="fas fa-sort" style="margin-left:0.5em !important;"></i></th>
                                    </tr>
                                </thead>
                                <tbody id="conttable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" data-backdrop="static" id="regDatosEmpresa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b> <i class="fas fa-edit mr-2 col-ico"></i> Registrar datos </b>
                        </h5>
                        <button id="icoclreg" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label col-labels">
                                        <i class="fas fa-building mr-2 col-ico"></i> Empresa:
                                    </label>
                                    @{
                                        if (Convert.ToInt32(Session["typeUser"]) != 1)
                                        {
                                            <input type="text" value="@Session["nameEmpresa"]" class="form-control" readonly id="empsel" />
                                            <input id="empresasel" value="@Session["keyEmpresa"]" name="empresasel" class="form-control" type="hidden" readonly required />
                                        }
                                        else
                                        {
                                            <select id="empresasel" name="empresasel" class="form-control">
                                                <option value="none">Selecciona</option>
                                            </select>
                                        }
                                    }
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label col-labels"> <i class="fas fa-user mr-2 col-ico"></i> Nombre completo de empleado:</label>
                                    <input type="text" id="empleado" required name="empleado" class="form-control text-capitalize" />
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label col-labels"> <i class="fas fa-code mr-2 col-ico"></i> Codigo de acceso:</label>
                                    <input type="text" id="codigoasc" name="codigoasc" readonly class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="col-form-label col-labels"> <i class="fas fa-briefcase mr-2 col-ico"></i> Centro de trabajo:</label>
                                    <select class="form-control" id="namcent">
                                        <option value="0">Selecciona</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label col-labels"> <i class="fas fa-id-card mr-2 col-ico"></i> Puesto:</label>
                                    <input type="text" id="puesto" name="puesto" required class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal" id="btncloregopc">
                            <i class="fas fa-times mr-2"></i> Cerrar
                        </button>
                        <button type="button" class="btn btn-sm col-btn-form1" id="btnsaregopc"> <i class="fas fa-check-circle mr-2"></i> Aceptar </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">

                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">
                            <b>Ayuda</b>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="text-center text-primary">
                                    <b>
                                        <i class="fas fa-info" style="margin-right:1em !important;"></i>
                                        Información importante
                                    </b>
                                </h5>
                                <hr />
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        En esta sección se asignan encuestas especiales a empleados ya identificados con algun riesgo psicosocial para su evaluación mediante preguntas especialmente desarrolladas para ellos.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                            <i class="fas fa-times mr-2"></i> Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/Scripts/Admin/encuestaopc.js" type="text/javascript"></script>
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                if (@Session["typeUser"] != 1) {
                    fdatacharts(@Session["keyEmpresa"]);
                    floadcentros(@Session["keyEmpresa"]);
                } else {
                    loaddatachart();
                }
                loaddataencopc(@Session["typeUser"],@Session["keyUser"]);
                setTimeout(() => {
                    $('#tablaus').DataTable({
                        "language": {
                            "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                        }
                    });
                }, 1000);
            });
        </script>

    }
    else
    {
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', () => {
                location.href = "/Home/Index";
            });
        </script>
    }
}